*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

header figure img{
    width: 150px;
    height: 100px;
    margin-left: 100px;

}
header div{
    display: flex;
    flex-direction: row;


}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    font-family: 'Oxygen', sans-serif;


}
header div nav{
    display: flex;
    flex-direction: center;
    align-items: center;
}

.list li{
    margin-left: 55px;
    font-weight:550;
    
}
.list li a{
    text-decoration: none;
    color:  #4c4d5f;

}
.button{
    display: flex;
    margin-right: 150px;


}
.button button{
    width: 135px;
    height: 40px;
    margin-left: 18px;
    border-radius: 5px;

}

.button button:first-child{
    width: 100px;
    margin-left: 20px;
    border-radius: 5px;
    color:  #00b289;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;


}


.button button:last-child{
    background-color: #00b289;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;

}
ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    z-index: 999;
    display: none;
    position: absolute;
}

ul li:hover ul.dropdown{
    display: block;
}

ul li ul.dropdown2 li{
    display: block;
}
ul li ul.dropdown2{
    width: 100%;
    z-index: 999;
    display: none;
    position: absolute;
}
ul li:hover ul.dropdown2{
    display: block;
}


.button{
    width: 220px;
    margin:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
.lbl-switch{
    display:flex;
    width: 55px;
    height:30px;
    background-color:#00b289;
    border-radius:100px;
    position:relative;
    cursor:pointer;
    justify-content: right;
  }
#btn-switch:checked~ .lbl-switch::after{
    left: 28px;
} 
.lbl-switch:after{
    position: absolute;
    content: ' ';
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 100px;
    top:4px;
    left: 5px;
    transition: 0.3s;  
}

#btn-switch{
    display: none;
}
.text1,.text2{
    font-size: 15px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #454552;
}
.text1{
    font-weight: bold;
}
















main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

main article{
    display: flex;
    flex-direction: column;
    width: 401px;
    height: 620px;
    border: 2px solid #e1e1e4;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fbfffd;
    box-shadow: 0 0 25px 25px rgba(197, 196, 196, 0.2);
    color: #706f6f;
}
.workflow{
    margin-left: 47px;
    margin-top: 58px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    font-size: 25PX;
}
.price{
    margin-left: 47px;
    margin-top: 15px;
    width: 300px;
    height: 75px;
    border-bottom: 2px solid #00b289 ;
    font-family: 'Noto Sans TC', sans-serif;
}
.price span{
    display:flex ;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.price span p:nth-child(1){
    font-size: 25px;
    
}

.price span p:nth-child(2){
    font-size: 50px;
    font-weight: 600;
    margin-left: 4px;
}

.price span p:nth-child(3){
    margin-top: 23.3px;
    margin-left: 10px;
}

main ul{
    margin-top: 17px;
    font-family: 'Inter', sans-serif;
    font-size:13px;
}
main li{
    margin-left: 48px;
    margin-top: 18px;
    list-style: none;
}

main .first-list li::before{
    content: "\2713";
    margin-right: 10px;
    color:#00b289;
    font-weight: 600;
}
.new{
    display: flex;
    flex-direction: row;
}
article ul li span{
    display: flex;
    justify-content: center;
    background-color: #f8db62;
    margin-left: 5px;
    color: rgb(255, 255, 255);
    width: 40px;
    height: 20px;
    font-weight: 600;

}
main form{
    display: flex;
    justify-content: center;
    align-items: center;
}
main button{
    margin-top: 40px;
    width: 300px;
    height:50px;
    background-color: #00b289;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;

}





.switch{
    width: 820px;
}
.switch nav{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.switch nav span p{
    font-size: 33px;
    font-family: 'Lora', serif;
    color: #454552;
    
}












.under-section{
    display: flex;
    flex-direction: column;
    margin-top: 111px;
    color: #706f6f;
    justify-content: center;
    align-items: center;
}

.under-section h1{
    margin-bottom: 12px;
    font-size: 30px;
    font-family: 'Noto Serif Tamil', serif;
    font-weight: 500;
    color: black;



}
.under-section div{
    margin-top: 60px;
}
.under-section form{
    display: flex;
    margin-bottom: 8px;
    width: 802px;
    height: 110px;
    justify-content: space-between;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 10px 10px rgba(197, 196, 196, 0.2);  
    align-items: center;

}
.under-section form  span p a{
    color:#00b289;
}

.container {
    margin-left: 33px;
    flex-direction: column;
    justify-content: center;

}

.container p:first-child{
    margin-bottom: 5px;
}

.container p:nth-child(2){
    margin-bottom: 7px;
}


.under-section div form p, a{
    margin-right: 33px;
    text-decoration: none;
}

.container p:first-child{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #2f2f33;
}

.container p:nth-child(2){  
    font-family: 'Inter', sans-serif;
    font-size: 12px;

}

.container p:nth-child(3){  
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.month{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.month p:first-child{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.month p:nth-child(2){
    font-size: 13px;
    font-family: 'Noto Sans TC', sans-serif;
}
.business{
    margin-top: 80px;
}

.business article{
    width: 802px ;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: none;
    border: none;
    font-size: 38px;
    color: #54545a;
    background-color: #eafdef;
}
.business article span p span{
    color:#00b289;
}

.last-button{
    margin-top: 0;
    width: 180px;
    cursor: pointer;
}













.final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final span{
    margin-top: 70px;
    font-size: 28px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300px;
    color:#00b289;
}
.final-list{
    margin-top: 30px;
}
.final .final-list li a{
    display: flex;
    flex-direction: row;
    width: 650px;
    justify-content: space-between;
    font-size: 18px;
    color: #54545a;
}

.final ul li img{    
    margin-bottom: -3px;
    width: 18px;
    height: 18px;

}











footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 120px;
    justify-items: center;
    color:#50515f;
    margin-bottom: 150px;
    
}
.templates img, .BONSAI img{
    margin-bottom: -6px;
    width: 18px;
    height: 18px;
}

.PRODUCT p,.BONSAI p{
    margin-bottom: 45px;
    font-family: 'Poppins', sans-serif;
    
}

.PRODUCT ul{
    margin-bottom: 45px;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.PRODUCT ul li{
    margin-top: 9.5px;
}
.PRODUCT ul li a{
    color: #00b289;
}

.FREE-RESOURCES, .templates{
    display: grid;
    

}

.FREE-RESOURCES1 p{
    margin-bottom: 45px;
    font-family: 'Poppins', sans-serif;

}

.FREE-RESOURCES ul li{
    list-style: none;
    margin-top: 9.5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.FREE-RESOURCES ul ul{
    margin-top:35px;
    margin-bottom: 25px;
    font-family: 'Inter', sans-serif;
}

.templates span p{
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.BONSAI li{
    list-style: none;
    margin-top: 9.5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.BONSAI ul:nth-child(3), ul:nth-child(4){
    margin-top: 35px;
}

